<h1>Who is Rene Magritte?</h1>
<div class="reneDiv">
  <p class="reneText"><b>René Magritte</b> was born in Lessines, in the spanrovince of Hainaut, Belgium, in 1898. <br><br>He was a Belgian surrealist artist, who became well known for creating a number of witty and thought-provoking images. Often depicting ordinary objects in an unusual context, his work is known for challenging observers' preconditioned perceptions of reality. His imagery has influenced pop art, minimalist art, and conceptual art.</p>
<img id="reneImg" src="/img/rene.jpg">
</div>