<h1>This is GALLERY HBS page</h1>
<div class="gallery">
  <div><img id="img1" src="/img/1.jpg"></div>
  <div><img id="img2" src="/img/2.jpg"></div>
  <div><img id="img4" src="/img/4.jpg"></div>
  <div><img id="img3" src="/img/3.jpg"></div>
  <div><img id="img8" src="/img/6.jpg"></div>
  <div><img id="img6" src="/img/8.jpg"></div>
  <div><img id="img10" src="/img/10.jpg"></div>
  <div><img id="img14" src="/img/14.jpg"></div>
  <div><img id="img15" src="/img/15.jpg"></div>
  <div><img id="img17" src="/img/17.jpg"></div>
  <div><img id="img20" src="/img/22.jpg"></div>
  <div><img id="img5" src="/img/5.jpg"></div>
  <div><img id="img16" src="/img/16.jpg"></div>
  <div><img id="img11" src="/img/7.jpg"></div>
  <div><img id="img9" src="/img/13.jpg"></div>
  <div><img id="img19" src="/img/20.jpg"></div>
  <div><img id="img13" src="/img/11.jpg"></div>
  <div><img id="img7" src="/img/9.jpg"></div>
  <div><img id="img12" src="/img/12.jpg"></div>
  <div><img id="img18" src="/img/18.jpg"></div>
  <div><img id="img19" src="/img/21.jpg"></div>
  <div><img id="img23" src="/img/25.jpg"></div>
  <div><img id="img22" src="/img/24.jpg"></div>
</div>